// @font-face {
//   font-family: "misha";
//   src: url('//at.alicdn.com/t/c/font_4663481_sgx9dylnan.woff2?t=1725368116185') format('woff2'),
//     url('//at.alicdn.com/t/c/font_4663481_sgx9dylnan.woff?t=1725368116185') format('woff'),
//     url('//at.alicdn.com/t/c/font_4663481_sgx9dylnan.ttf?t=1725368116185') format('truetype');
// }


@font-face {
  font-family: "misha";
  src: url('https://guagnximisa.top/uploads/font/font_4663481_sgx9dylnan.woff2') format('woff2'),
    url('https://guagnximisa.top/uploads/font/font_4663481_sgx9dylnan.woff') format('woff'),
    url('https://guagnximisa.top/uploads/font/font_4663481_sgx9dylnan.ttf') format('truetype');
}

[class^='icon-'],
[class*=' icon-'] {
  font-family: 'misha' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-delete:before {
  content: "\e610";
}

.icon-left:before {
  content: "\e7ec";
}

.icon-Home:before {
  content: "\e64e";
}

.icon-clock:before {
  content: "\e621";
}

.icon-up:before {
  content: "\e7eb";
}


.icon-icon_collect:before {
  content: "\e603";
}

.icon-kefu:before {
  content: "\e625";
}

.icon-sousuo:before {
  content: "\e600";
}

.icon-yuanxingweixuanzhong:before {
  content: "\e72f";
}

.icon-checked:before {
  content: "\e618";
}

.icon-phone:before {
  content: "\e606";
}

.icon-dizhi:before {
  content: "\e652";
}

.icon-right:before {
  content: "\e642";
}

.icon-daishouhuo:before {
  content: "\e63e";
}

.icon-tuihuoshouhou:before {
  content: "\e63f";
}

.icon-shezhi:before {
  content: "\e810";
}

.icon-daipingjia:before {
  content: "\e639";
}

.icon-gouwuche:before {
  content: "\e609";
}

.icon-daifukuan:before {
  content: "\e63d";
}

.icon-gerenxinxi1:before {
  content: "\e698";
}

.icon-daifahuo:before {
  content: "\e611";
}